body {
    background: lightgrey;
    font-family: "Helvetica Neue";
}

html, body {
    height: 100%;
    margin: 0px;
    padding:0px;
}

section {
    height: 90%;
}

#map {
    height: 100%;
}

ul {
    list-style-type: none;
}

nav {
    position: fixed;
    bottom: 5px;
    width:100%;
}

button {
    background-color: lightgrey;
    height: 40px;
    width: 32%;
    padding: 0;
    border-radius: 10px;
    border:none;
    font-size: 16px;

}

#go_button {
    width:100%;
    border-radius:0px;
    background-color: darkturquoise;
    position: fixed;
    bottom: 60px;
}

/* Hervorhebung durch Ränder*/
ul {
    border: none;

}

form {
    margin-left:10%;
    margin-top:10%;
}
fieldset {
    border:none;
}

section {

}